/* 关卡标题的前缀伪元素 */
.levelTitle::before {
  content: attr(data-prefix);
}

/* 关卡标题的后缀伪元素 */
.levelTitle::after {
  content: attr(data-suffix);
}

/* 导航按钮的前缀伪元素 */
.rangeButton::before {
  content: attr(data-prefix);
}

/* 导航按钮的后缀伪元素 */
.rangeButton::after {
  content: attr(data-suffix);
} 